body {
    background-color: white;
    margin: auto;
    padding: 50px;
}

.container {
    width: 90%;
    margin: auto;
}

.hero {
    padding: 60px;
   

}

.hero container {
    text-align: center;
    display: flex;
}


.hero-content {
    width: 50%;
}

.hero-content h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero content p {
    color: gray;
    margin-right: 20px;
}


.hero-image {
    width: 50%;
}

.hero-image img {
    width: 100%;
    height: 360px;
    margin-top: 20px;

}

.hero-content button {
    margin-right: 10px;
    padding: 10px 15px;
}

.start {
    padding: 10px 20px;
    background-color: black;
    color: white;
}

.learn {
    padding: 10px 20px;
    background-color: white;
    color: black;
}




.Why-Choose-us {
    padding: 40px;
}

.container {
    width: 90%;
    margin: auto;
}

.title {
    text-align: center;
}

.title h2 {
    font-size: 30px;
}

.title p {
    color: gray;
}

.benefit-card {
    display: flex;
    margin-top: 20px;

}

.benefit-card .card {
    width: 30%;
    padding: 20px;
    text-align: center;
    background-color: white;
}

.card p {
    color: gray;
}





.more-benefit {
    display: flex;
    margin-top: 20px;
}

.image {
    width: 50%;
}

.image img {
    width: 300px;
    height: 300px;
}

.content {
    width: 50%;
    padding: 20px;
}


.content p {
    color: gray;
}






.testimonials {
    padding: 60px;
   
}




.reviews {
    display: flex;
    margin-top: 30px;
}

.reviews-card {
    width: 30%;
    padding: 15px;
}

.card-header {
    display: flex;
    align-items: center;

}

.auther-image img {
    width: 50px;
    height: 50px;
    padding: 15px;
}

.auther-info h3 {
    margin: 0;
    color: black;
}

.auther-info p {
    margin: 5px 0;
    color: gray;
}

.card-body {
    margin-top: 20px;
    font-size: 14px;
}

.statisttics {
    display: flex;
    text-align: center;
    margin-top: 30px;
    padding: 20px;
    justify-content: space-around;
   background-color:cornsilk


}

.statisttics h2 {
    font-size: 20px;
    margin: 0;
}

.statisttics p {
    color: gray;
}


.membership-form {
    padding: 60px 400px;
    background-color:white;
    display: flex;
    background-color: #f5f5f5;

}

.container-type {
    width: 100%;
    margin: auto;
    padding: 20px;
}

.membership-form title {
    text-align: center;
    margin-bottom: 30px;
    
}


.membership-form title p{
    color: gray;
    margin-top: 10px;
}


form {
    background-color: white;
    padding: 20px;
   
}

.form-groupe {
    display: flex;
   
}

.form-groupe input {
    width: 50%;
}


.email .phone .membership .fitness-goals {
    margin-top: 20px;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
   
}

textarea {
    height: 100px;
}


form button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    width: 100%;
    

}